# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Data & Results
datasets/custom/
!datasets/custom/.gitkeep
datasets/raw_images/
results/
models/
*.ckpt
*.pt
exported_models/
logs/ # New location for log files
# IDE
.vscode/
.idea/
